<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
    </ion-buttons>
    <ion-title>Bienvenido : {{usuario}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Asistencia</ion-label>
        <ion-badge></ion-badge>
      </ion-tab-button>
      <ion-tab-button tab="speakers">
        <ion-icon name="camera"></ion-icon>
        <ion-label>Incribir Asistencia</ion-label>
      </ion-tab-button>  
      <ion-tab-button tab="about">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Info</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <ion-split-pane contentId="main">
    <!--  the side menu  -->
    <ion-menu contentId="main">
      <ion-header>
        <ion-toolbar>
          <ion-title>Hola Mundo</ion-title>
        </ion-toolbar>
      </ion-header>
    </ion-menu>
  
    <!-- the main content -->
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>
</ion-content>
