
<ion-content [fullscreen]="true">
  <div class="titulo"> Bienvenido al sistema de control de asistencia. <br>
    Porfavor introduzca sus creedenciales de Estudiante DuocUC
  </div>
  <div class="contenido">
    <form [formGroup]="persona" (ngSubmit)="grabar()">
      <ion-item>
        <ion-label position="floating">Usuario o Correo</ion-label>
        <ion-input formControlName="elUsuario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input formControlName="elContraseña"></ion-input>
      </ion-item><br>
      <ion-button color="primary" routerLink="/estu">Iniciar Sesion</ion-button><br>
      <ion-button color="danger" routerLink="/home">Atras</ion-button>
    </form>
  </div>
</ion-content>
